/* --- RESET --- */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* --- ROOT VARIABLES --- */
:root {
  /* --grey-50: #f8fafc; */
  --bgColor: #f1f5f9;
  --dateTime: #94a3b8;
  --font: #0f172a;
  --fontInvert: #ffffff;
  --hotpink: #d23669;
  --inspect: solid red 1px;
  --transition: 0.3s ease;
}
/* --- DARK THEME VARIABLES --- */
.dark-theme {
  --bgColor: #1e293b;
  --dateTime: #94a3b8;
  --font: #ffffff;
  --fontInvert: #0f172a;
  --hotpink: #ff89b0;
}

/* --- MAIN CSS --- */
body {
  width: 100vw;
  min-height: 100vh;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  background-color: var(--bgColor);
}

.nav-center {
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding: 2rem 0;
}
h1 {
  color: var(--font);
  font-size: 2.5rem;
  font-weight: 400;
  text-transform: capitalize;
  letter-spacing: 2px;
}
.btn {
  font-size: 1rem;
  background: var(--hotpink);
  color: var(--fontInvert);
  padding: 0.25rem 0.5rem;
  border-radius: 5px;
  border-color: transparent;
  text-transform: capitalize;
  transition: all 0.25s linear;
  font-weight: bold;
  letter-spacing: 2px;
  cursor: pointer;
}
.articles {
  padding: 4rem 0;
  width: 90vw;
  max-width: 600px;
  margin: 0 auto;
}
.post {
  margin-bottom: 3rem;
}
.post h2 {
  color: var(--hotpink);
  text-transform: capitalize;
  letter-spacing: 2px;
  font-size: 1.75rem;
}
.post p {
  color: var(--font);
  font-size: 0.875rem;
  font-weight: 300;
  line-height: 1.5;
}
.post-info {
  margin-bottom: 0.75rem;
  font-style: italic;
  color: var(--dateTime);
}
.post-info span {
  margin-right: 0.5rem;
}

/* --- MOBILE RESPONSIVE --- */
@media screen and (max-width: 400px) {
  .nav-center {
    padding: 1rem 0;
  }
  .btn {
    margin-top: 1rem;
  }
  .articles {
    padding: 2rem 0;
  }
}
